<div class="container">
  <h1 mat-dialog-title>Edit User</h1>
  <form
    class="form-dialog-container"
    style="
      display: flex;
      flex-direction: column;
      width: auto;
      height: auto;
      margin: 30px;
    "
    [formGroup]="form"
  >
    <div class="input-container">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          formControlName="name"
          type="text"
          (ngModelChange)="onValidate()"
        />
      </mat-form-field>
      <div class="icon-container">
        <mat-icon [style.color]="validateInputs.name ? 'green' : 'red'">{{
          validateInputs.name ? "check_circle" : "error_outline"
        }}</mat-icon>
      </div>
    </div>

    <div class="input-container">
      <mat-form-field>
        <mat-label>LastName</mat-label>
        <input
          matInput
          formControlName="lastName"
          type="text"
          (ngModelChange)="onValidate()"
        />
      </mat-form-field>
      <div class="icon-container">
        <mat-icon [style.color]="validateInputs.lastName ? 'green' : 'red'">{{
          validateInputs.lastName ? "check_circle" : "error_outline"
        }}</mat-icon>
      </div>
    </div>
    <div class="input-container">
      <mat-form-field>
        <mat-label>Age</mat-label>
        <input
          matInput
          formControlName="age"
          type="number"
          (ngModelChange)="onValidate()"
        />
      </mat-form-field>
      <div class="icon-container">
        <mat-icon [style.color]="validateInputs.age ? 'green' : 'red'">{{
          validateInputs.age ? "check_circle" : "error_outline"
        }}</mat-icon>
      </div>
    </div>
    <div class="input-container">
      <mat-form-field>
        <mat-label>Education</mat-label>
        <input matInput formControlName="education" type="text" />
      </mat-form-field>
      <!-- <div class="icon-container">
        <mat-icon [style.color]="validateInputs.age ? 'green' : 'red'">{{
          validateInputs.age ? "check_circle" : "error_outline"
        }}</mat-icon>
      </div> -->
    </div>
    <mat-label>Gender</mat-label>

    <mat-checkbox
      color="primary"
      value="male"
      [checked]="selectedGender === 'male'"
      (click)="toggleGender('male')"
      [disabled]="selectedGender === 'male'"
      >Male</mat-checkbox
    >
    <mat-checkbox
      color="primary"
      value="female"
      [checked]="selectedGender === 'female'"
      (click)="toggleGender('female')"
      [disabled]="selectedGender === 'female'"
      >Female</mat-checkbox
    >

    <button
      mat-raised-button
      color="primary"
      (click)="onSubmit()"
      [disabled]="!allInputs"
    >
      Confirm Edit
    </button>
    <button mat-raised-button color="warn" (click)="closeEditDialog()">
      Cancel
    </button>
  </form>
</div>
