<div class="container">
  <h1 mat-dialog-title>Edit User</h1>
  <form
    class="form-dialog-container"
    style="
      display: flex;
      flex-direction: column;
      width: auto;
      height: auto;
      margin: 30px;
    "
    [formGroup]="form"
    (ngSubmit)="onSubmit(); (false)"
  >
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" type="text" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" type="text" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Age</mat-label>
      <input matInput formControlName="age" type="number" />
    </mat-form-field>

    <mat-label>Gender</mat-label>

    <mat-checkbox
      color="primary"
      value="male"
      [checked]="selectedGender === 'male'"
      (click)="toggleGender('male')"
      [disabled]="selectedGender === 'male'"
      >Male</mat-checkbox
    >
    <mat-checkbox
      color="primary"
      value="female"
      [checked]="selectedGender === 'female'"
      (click)="toggleGender('female')"
      [disabled]="selectedGender === 'female'"
      >Female</mat-checkbox
    >

    <button mat-raised-button color="primary" (click)="onSubmit()">
      Confirm Edit
    </button>
  </form>
</div>
