.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-dialog.container {
  width: 100%;
}
.input-container {
  display: flex;
}
.icon-container {
  width: 10%;
}
mat-icon {
  margin-top: 20px;
  margin-left: 10px;
}
