.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 300px;
}
button {
  border: 1px solid black;
}

#edit {
  color: goldenrod;
}
.mat-icon:hover {
  cursor: pointer;
}

@media (max-width: 450px) {
  .mat-toolbar {
    padding-right: 10px;
    position: fixed;
  }
}
