.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 300px;
}

#edit,
#delete {
  width: 35px;
  height: 35px;
  margin: 5px;
}
.mat-icon:hover {
  cursor: pointer;
}

@media (max-width: 450px) {
  .mat-toolbar {
    padding-right: 10px;
    position: fixed;
  }
}
